.left-panel {
    width: 300px;
    border-right: 1px solid #d7e1e0;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.site-name {
    position: fixed;
    font-weight: 1000;
    font-size: 30px;
    color: #00b9b9;
    top: 30px;
    left: 23px;
}

.sidebar-nav {
    flex-grow: 1;
    margin-top: 20px;
}

.sidebar-nav a,
.sidebar-footer a {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #029292;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 16px;
    border-radius: 35px;
    padding: 18px 20px;
    transition: all 0.2s ease;
}

.sidebar-nav a:hover,
.sidebar-nav a.active,
.sidebar-footer a:hover {
    background-color: #029292;
    color: #fff;
}

.sidebar-footer {
    margin-top: auto;
    border-top: 1px solid #d7e1e0;
    padding-top: 20px;
}
