@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.signup-left {
  width: 50%;
  background-color: #00b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image {
  width: 80%;
  max-width: 700px;
}

.signup-right {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-title {
  color: #00b9b9;
  font-size: 2rem;
}

.signup-subtitle {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.signup-form {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-form label {
  font-size: 15px;
  font-weight: 300;
  color: #333;
}

.signup-form input {
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #00b9b9;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.signup-form input::placeholder {
  color: white;
  opacity: 0.9;
}

.signup-btn {
  margin-top: 0.5rem;
  padding: 8px 0;
  width: 130px;
  background-color: #00b9b9;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s ease;
  align-self: center;
}

.signup-btn:hover {
  background-color: #009d9d;
}

/* .google-auth-icon {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}

.google-auth-icon img {
  width: 35px;
  height: 35px;
  transition: transform 0.2s ease;
}

.google-auth-icon img:hover {
  transform: scale(1.1);
} */

.signin-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
}

.signin-text a {
  color: #00b9b9;
  text-decoration: none;
  font-weight: 500;
}

.signin-text a:hover {
  text-decoration: underline;
}
