@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.signup-left {
  width: 50%;
  background-color: #00b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image {
  width: 80%;
  max-width: 700px;
}

.signup-right {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-title {
  margin-top: 50px;
  color: #00b9b9;
  font-size: 3rem;
}

.signup-subtitle {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 2rem;
}

.signup-form {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-form label {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.signup-form input {
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #00b9b9;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.signup-form input::placeholder {
  color: white;
  opacity: 0.9;
}

.signup-btn {
  margin-top: 1rem;
  padding: 8px 0;
  width: 130px;
  background-color: #00b9b9;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s ease;
  align-self: center;
}

.signup-btn:hover {
  background-color: #009d9d;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 0.6rem;
  background: #ffffff;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}

.google-btn:hover {
  background: #009d9d;
  border-color: #ccc;
  color: white;
}

.google-btn:active {
  transform: scale(0.97);
}

.signin-text {
  margin-top: 4rem;
  font-size: 1rem;
  color: #333;
  position: relative;
  top: -35px; 
}

.signin-text a {
  color: #00b9b9;
  text-decoration: none;
  font-weight: 500;
}

.signin-text a:hover {
  text-decoration: underline;
}
